<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mesto</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
</head>
<body>
<div class="root">
  <header class="header root__section">
    <img src="<%=require('./images/logo.svg').default%>" alt="mesto logo" class="logo">
  </header>
  <div class="profile root__section">
    <div class="user-info">
      <div class="user-info__photo"></div>
      <div class="user-info__data">
        <h1 class="user-info__name">Jaques Causteau</h1>
        <p class="user-info__job">Sailor, Researcher</p>
        <button class="button user-info__button-edit">Edit</button>
      </div>
      <button class="button user-info__button">+</button>
    </div>
  </div>
  <div class="places-list root__section">

  </div>
  <div class="popup" id='popup-new'>
    <div class="popup__content">
      <img src="<%=require('./images/close.svg').default%>" alt="" class="popup__close">
      <h3 class="popup__title">Новое место</h3>
      <form class="popup__form" name="new">
        <input id='new-name' type="text" name="name" class="popup__input popup__input_type_name" placeholder="Название" minlength="2" maxlength="30" required>
        <span id="error-new-name" class="error"></span>
        <input id='new-link' type="url" name="link" class="popup__input popup__input_type_link-url" placeholder="Ссылка на картинку" required>
        <span id="error-new-link" class="error"></span>
        <button type="submit"  class="button popup__button popup__button_plus popup__button_invalid" disabled='true'>+</button>
      </form>

    </div>
  </div>

  <div class="popup" id='popup-edit'>
    <div class="popup__content">
      <img src="<%=require('./images/close.svg').default%>" alt="" class="popup__close" id='popup-edit__close'>
      <h3 class="popup__title">Редактировать профиль</h3>
      <form class="popup__form" name="edit">
        <input id='user-name' type="text" name="name" class="popup__input popup__input_type_name" placeholder="Имя" minlength="2" required>
        <span id="error-user-name" class="error"></span>
        <input id='about' type="text" name="about" class="popup__input" placeholder="О себе" minlength="2" required>
        <span id="error-about" class="error"></span>
        <button type="submit" class="button popup__button popup__button_save" disabled='false'>Сохранить</button>
      </form>

    </div>
  </div>

  <div class="popup" id='popup-image'>
    <div class="popup__container">
      <img src="<%=require('./images/close.svg').default%>" alt='' class="popup__close popup__close_img">
      <img src="" alt="" class="popup__image">
    </div>
  </div>

</div>

<!--<script src="js/Api.js"></script>-->
<!--<script src='js/Card.js'></script>-->
<!--<script src='js/CardList.js'></script>-->
<!--<script src='js/initial-cards.js'></script>-->
<!--<script src='js/Popup.js' ></script>-->
<!--<script src='js/PopupImage.js'></script>-->
<!--<script src='js/UserInfo.js'></script>-->
<!--<script src='js/FormValidator.js'></script>-->
<!--<script src='js/script.js'></script>-->
<script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>
